[Unit]
Description=Local Dashboard Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/energy-profiler/publisher-script/main.py
WorkingDirectory=/home/pi/energy-profiler/publisher-script/
Restart=always
RestartSec=30
User=pi
Environment=DISPLAY=:0

[Install]
WantedBy=multi-user.target
